<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ GUCoach - your personal coach for Goalunited (tm).
  ~ Copyright (C) 2012 newInstance.org
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.newinstance.gucoach.mapper.FixtureMapper">
    <resultMap id="fixtureResultMap" type="Fixture">
        <result column="home_team_id" property="homeTeamId"/>
        <result column="away_team_id" property="awayTeamId"/>
        <result column="match_result" property="matchResult"/>
        <result column="match_day" property="matchDay"/>
    </resultMap>
    <update id="createTableFixture">
        CREATE TABLE IF NOT EXISTS fixture (
        id BIGINT PRIMARY KEY AUTO_INCREMENT,
        home_team_id BIGINT,
        away_team_id BIGINT,
        match_result VARCHAR(5),
        match_day DATE,
        CONSTRAINT fixture_unq UNIQUE (home_team_id, away_team_id)
        )
    </update>
    <delete id="deleteAllFixtures">
        DELETE FROM fixture
    </delete>
    <select id="findAllFixtures" resultMap="fixtureResultMap">
        SELECT * FROM fixture
    </select>
    <insert id="insertFixture" parameterType="Fixture" useGeneratedKeys="true">
        INSERT INTO fixture (
        id,
        home_team_id,
        away_team_id,
        match_result,
        match_day
        )
        VALUES (
        #{id},
        #{homeTeamId},
        #{awayTeamId},
        #{matchResult},
        #{matchDay}
        )
    </insert>
    <update id="updateFixture" parameterType="Fixture">
        UPDATE fixture SET
        home_team_id = #{homeTeamId},
        away_team_id = #{awayTeamId},
        match_result = #{matchResult},
        match_day = #{matchDay}
        WHERE id = #{id}
    </update>
    <update id="dropTableFixture">
        DROP TABLE IF EXISTS fixture
    </update>
</mapper>