<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ GUCoach - your personal coach for Goalunited (tm).
  ~ Copyright (C) 2012 newInstance.org
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.newinstance.gucoach.mapper.StandingsHistoryMapper">
    <resultMap id="standingsHistoryResultMap" type="StandingsHistory">
        <result column="team_id" property="teamId"/>
        <result column="matches_won" property="matchesWon"/>
        <result column="matches_drawn" property="matchesDrawn"/>
        <result column="matches_lost" property="matchesLost"/>
        <result column="goals_for" property="goalsFor"/>
        <result column="goals_against" property="goalsAgainst"/>
        <result column="match_day" property="matchDay"/>
    </resultMap>
    <parameterMap id="teamIdAndDateMap" type="java.util.Map">
        <parameter property="teamId" javaType="java.lang.Long"/>
        <parameter property="matchDay" javaType="java.util.Date"/>
    </parameterMap>
    <update id="createTableStandingsHistory">
        CREATE TABLE IF NOT EXISTS standings_history (
        id BIGINT PRIMARY KEY AUTO_INCREMENT,
        position TINYINT,
        team_id BIGINT,
        matches_won TINYINT,
        matches_drawn TINYINT,
        matches_lost TINYINT,
        goals_for TINYINT,
        goals_against TINYINT,
        match_day DATE,
        CONSTRAINT standings_team_day_unq UNIQUE (team_id, match_day)
        )
    </update>
    <delete id="deleteAllStandingsHistory">
        DELETE FROM standings_history
    </delete>
    <select id="findStandingsHistoryByTeamIdAndDate" parameterMap="teamIdAndDateMap" parameterType="java.util.Map" resultMap="standingsHistoryResultMap">
        SELECT * FROM standings_history WHERE team_id = #{teamId} AND match_day = #{matchDay}
    </select>
    <insert id="insertStandingsHistory" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO standings_history (
        id,
        position,
        team_id,
        matches_won,
        matches_drawn,
        matches_lost,
        goals_for,
        goals_against,
        match_day
        )
        VALUES
        <foreach collection="list" item="standingsHistory" open="(" close=")" separator="),(">
            #{standingsHistory.id},
            #{standingsHistory.position},
            #{standingsHistory.teamId},
            #{standingsHistory.matchesWon},
            #{standingsHistory.matchesDrawn},
            #{standingsHistory.matchesLost},
            #{standingsHistory.goalsFor},
            #{standingsHistory.goalsAgainst},
            #{standingsHistory.matchDay}
        </foreach>
    </insert>
    <update id="updateStandingsHistory" parameterType="StandingsHistory">
        UPDATE standings_history SET
        position = #{position},
        team_id = #{teamId},
        matches_won = #{matchesWon},
        matches_drawn = #{matchesDrawn},
        matches_lost = #{matchesLost},
        goals_for = #{goalsFor},
        goals_against = #{goalsAgainst},
        match_day = #{matchDay}
        WHERE id = #{id}
    </update>
    <update id="dropTableStandingsHistory">
        DROP TABLE IF EXISTS standings_history
    </update>
</mapper>