<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ GUCoach - your personal coach for Goalunited (tm).
  ~ Copyright (C) 2012 newInstance.org
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.newinstance.gucoach.mapper.TeamMapper">
    <resultMap id="teamResultMap" type="Team">
        <result column="matches_won" property="matchesWon"/>
        <result column="matches_drawn" property="matchesDrawn"/>
        <result column="matches_lost" property="matchesLost"/>
        <result column="goals_for" property="goalsFor"/>
        <result column="goals_against" property="goalsAgainst"/>
    </resultMap>
    <update id="createTableTeam">
        CREATE TABLE IF NOT EXISTS team (
        id BIGINT PRIMARY KEY AUTO_INCREMENT,
        position TINYINT,
        name VARCHAR(50),
        strength REAL(2),
        matches_won TINYINT,
        matches_drawn TINYINT,
        matches_lost TINYINT,
        points TINYINT,
        goals_for TINYINT,
        goals_against TINYINT,
        CONSTRAINT team_name_unq UNIQUE (name)
        )
    </update>
    <delete id="deleteAllTeams">
        DELETE FROM team
    </delete>
    <select id="findAllTeams" resultMap="teamResultMap">
        SELECT * FROM team ORDER BY position ASC
    </select>
    <insert id="insertTeams" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO team (
        id,
        position,
        name,
        strength,
        matches_won,
        matches_drawn,
        matches_lost,
        points,
        goals_for,
        goals_against
        )
        VALUES
        <foreach collection="list" item="team" open="(" close=")" separator="),(">
            #{team.id},
            #{team.position},
            #{team.name},
            #{team.strength},
            #{team.matchesWon},
            #{team.matchesDrawn},
            #{team.matchesLost},
            #{team.points},
            #{team.goalsFor},
            #{team.goalsAgainst}
        </foreach>
    </insert>
    <update id="updateTeam" parameterType="Team">
        UPDATE team SET
        position = #{position},
        name = #{name},
        strength = #{strength},
        matches_won = #{matchesWon},
        matches_drawn = #{matchesDrawn},
        matches_lost = #{matchesLost},
        points = #{points},
        goals_for = #{goalsFor},
        goals_against = #{goalsAgainst}
        WHERE id = #{id}
    </update>
    <update id="dropTableTeam">
        DROP TABLE IF EXISTS team
    </update>
</mapper>