<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ GUCoach - your personal coach for Goalunited (tm).
  ~ Copyright (C) 2012 newInstance.org
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.newinstance.gucoach.mapper.TeamMapper">
    <resultMap id="teamResultMap" type="Team">
        <result column="starting_position" property="startingPosition"/>
    </resultMap>
    <update id="createTableTeam">
        CREATE TABLE IF NOT EXISTS team (
        id BIGINT PRIMARY KEY AUTO_INCREMENT,
        startingPosition TINYINT,
        name VARCHAR(50),
        strength REAL(2),
        CONSTRAINT team_name_unq UNIQUE (name)
        )
    </update>
    <delete id="deleteAllTeams">
        DELETE FROM team
    </delete>
    <select id="findAllTeams" resultMap="teamResultMap">
        SELECT * FROM team
    </select>
    <insert id="insertTeams" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO team (
        id,
        startingPosition,
        name,
        strength
        )
        VALUES
        <foreach collection="list" item="team" open="(" close=")" separator="),(">
            #{team.id},
            #{team.startingPosition},
            #{team.name},
            #{team.strength}
        </foreach>
    </insert>
    <update id="updateTeam" parameterType="Team">
        UPDATE team SET
        startingPosition = #{startingPosition},
        name = #{name},
        strength = #{strength}
        WHERE id = #{id}
    </update>
    <update id="dropTableTeam">
        DROP TABLE IF EXISTS team
    </update>
</mapper>